:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-gray: #3D546F;
    --dark-gray: #32425C;
    --dark: #293449;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --white: #FFFFFF;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-lightorange: #FFDA96;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --sand: #F9F5F0;
  }

body {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: var(--white);
  }

a {
    text-decoration: none;
    color: var(--dark)
  }

img {
    max-width: 100%;
    height: auto;
  }
/* Main navigation */
.main-header {
  font-style: normal;
  background: rgba(0, 0, 0, 0.0001);
}
.main-navigation {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
  }
  .main-header-logo {
    color: var(--white);
    background-color: var(--basic-red);
  }
.main-navigation-wrapper {
    background-color: var(--dark-gray);
}
.header-top {
  background-color: var(--dark);
}
.site-navigation {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
}
.site-navigation-item {
  color: var(--white);
}

.second-navigation {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.market {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}
.basket {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.ordering {
  background-color: var(--basic-green);
  color: var(--white);
}
.head-description {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);

}

.phone-head {
  font-style: normal;
  font-weight: bold;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;

}
.head-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.enter {
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px; 
}
.registration {
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px; 
}
.search {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white)
}
/* Main */
.internet-market {
  visibility: hidden;
}
.catalog-name {
  visibility: hidden;
}
.corner-blocks {
  color: var(--white);
}
.materials {
  background-color: var(--special-yellow);
}
.tools {
  background-color: var(--special-blue);
}
.tech {
  background-color: var(--special-lilac);
}
.free {
  background-color: var(--special-greenlight);
}
.delivery{
  background-color: var(--warning);
}

.headline {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; 
  color: var(--white);
}
.corner-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.perforators {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.perforators-sign {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.gallery {
  background-color: var(--dark-gray); /* прописал фон чтобы были читабельны белые надписи, потом перенесу их на картинку и уберу фон*/
}
.button {
  font-size: 14px;
  line-height: 18px;  
  color: var(--white);
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;  
  border: none;
}
/* Популярные товары */

.popular {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--sand);
}
.perforators-list {
  list-style: none;
}
.perforator-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.perforator-old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-line: line-through;
}
.perforator-new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.popular-produser-table {
  list-style: none; 
}

/* Популярные производители */

.bosch {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.makita {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.dewalt {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.interscol {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.hitachi {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.lg {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.aeg {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.metabo {
  background-color: var(--white);
  background-repeat: no-repeat;
}

/* Сервисы */
.servises {
  background-color: var(--basic-background);
}
.servises-name {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.servises-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.features {
  list-style: none;
}
.features-item {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.delivery {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.delivery-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
/* Низ сайта, перед футером */
.page-footer .main-footer {
  background-color: var(--dark-gray);
}
.footer-bottom {
  background-color: var(--dark);
}
.company-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.company-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.transport-company {
  list-style: none;
}
.transport-company-item {
  font-size: 18px;
  line-height: 24px;
}
.contacts-descriiption {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
/* Футер */
.footer-logo {
  background-color: var(--basic-red);
  color: var(--white);
}
.footer-contacts {
  background-color: var(--basic-gray);
}
.footer-address {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
}
.main-footer {
  background-color: var(--basic-gray);
}
.footer-item-one {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
}
.footer-item-two {
  color: var(--special-lightorange);
  font-size: 18px;
  line-height: 24px;

}
.copyrights {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.footer-connection {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;

}
.footer-link {
  color: var(--special-yellowlight);
  font-size: 16px;
  line-height: 18px;

}
.social-web {
  visibility: hidden;
}
.social {
  list-style: none;
}
.social-button {
  color: var(--white)
}