:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-gray: #3D546F;
    --dark-gray: #32425C;
    --dark: #293449;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --white: #FFFFFF;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-lightorange: #FFDA96;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --sand: #F9F5F0;
    --special-catalog: #F7F3EC;
  }

body {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    margin: auto;
    padding: auto;
    background-color: var(--white);
  }

a {
    text-decoration: none;
    color: var(--dark)
  }

img {
    max-width: 100%;
    height: auto;
  }

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
}
/* Main navigation */


.main-header {
  
  width: auto;
  font-style: normal;
  background: var(--basic-background);
}
.grey-dark-line {

background-color: var(--basic-background);
}

.main-header-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin: auto;
}
.main-navigation {
  display: grid;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  }

  .site-navigation {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 56px;
  }
.main-header-logo {
    color: var(--white);
    background-color: var(--basic-red);
  }

ul.second-navigation li {
  display: inline;
}
.top-dark-line {
  background-color: var(--dark);
}
.main-navigation-wrapper {
  background-color: var(--dark-gray);
  text-align: center;
  clear: both;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.header-top {
  background-color: var(--dark);
  display: flex;
  height: 43px;
  justify-content: flex-start;
}
.site-navigation-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    font-size: 18px;
    line-height: 24px;
}
.site-navigation-bot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.site-navigation-item {
  color: var(--white);
}

.second-navigation {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.market {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}
.basket {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.ordering {
  background-color: var(--basic-green);
  color: var(--white);
}
.head-description {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  float: left;

}

.phone-head {
  font-style: normal;
  font-weight: bold;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;

}
.head-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.enter {
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px; 
}
.registration {
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px; 
}
.search {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white)
}
/* Main */
.grid-top {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  column-gap: 20px;
  row-gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.main-content {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.internet-market {
  visibility: hidden;
}
.catalog-name {
  visibility: hidden;
}
.corner-blocks {
  color: var(--white);
}
.materials {
  background-color: var(--special-yellow);
  width: 300px;
  height: 123px;
}
.tools {
  background-color: var(--special-blue);
  width: 300px;
  height: 123px;
}
.tech {
  background-color: var(--special-lilac);
  width: 300px;
  height: 123px;
}
.free {
  background-color: var(--special-greenlight);
  width: 300px;
  height: 123px;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.delivery-promo {
  background-color: var(--warning);
  width: 300px;
  height: 123px;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.headline {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; 
  color: var(--white);
}
.corner-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.perforators {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.perforators-sign {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.gallery {
  background-color: var(--dark-gray); /* прописал фон чтобы были читабельны белые надписи, потом перенесу их на картинку и уберу фон*/
  Width: 620px;
  Height: 266px;
}
.grid-right {
  display: grid;
}
.button {
  font-size: 14px;
  line-height: 18px;  
  color: var(--white);
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;  
  border: none;
}
/* Популярные товары */

.popular-products {
  
}
.popular {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--sand);
}
.perforators-list {
  display: grid;
  grid-template-columns: repeat(4,220px);
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.perforators-columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.perforator-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.perforator-old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-line: line-through;
}
.perforator-new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.popular-produser-table {
  list-style: none; 
}

/* Популярные производители */
.popular-produser-table {
  display: grid;
  grid-template-columns: repeat(4,220px);
  grid-template-rows: repeat(2, 145px);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.bosch {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.makita {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.dewalt {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.interscol {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.hitachi {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.lg {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.aeg {
  background-color: var(--white);
  background-repeat: no-repeat;
}
.metabo {
  background-color: var(--white);
  background-repeat: no-repeat;
}

/* Сервисы */
.servises {
  background-color: var(--basic-background);
}
.servises-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.servises-name {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.servises-item-one {
  grid-row: 1 / 1;
  grid-column: 1 / 4;
}
.servises-item-two {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}
.servises-item-three {
  grid-row: 2 / 2;
  grid-column: 2 / 4;
}
.servises-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.features {
  list-style: none;
}
.features-item {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.delivery {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.delivery-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
/* Низ сайта, перед футером */
.company-specification-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 940px;
  margin: auto;
}
.page-footer .main-footer {
  background-color: var(--dark-gray);
}

.company-contacts-one {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.company-contacts-two {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.company-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.transport-company {
  list-style: none;
}
.transport-company-item {
  font-size: 18px;
  line-height: 24px;
}
.contacts-descriiption {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
/* Футер */
.footer-logo {
  background-color: var(--basic-red);
  color: var(--white);
}
.footer-contacts {
  background-color: var(--basic-gray);
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}
.footer-address {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
}
.main-footer {
  background-color: var(--basic-gray);
}
.footer-item-one {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
}
.footer-item-two {
  color: var(--special-lightorange);
  font-size: 18px;
  line-height: 24px;

}
.copyrights {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.footer-connection {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;

}
.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-dark {
  
  background-color: var(--dark);
}
.footer-link {
  color: var(--special-yellowlight);
  font-size: 16px;
  line-height: 18px;

}
.social-web {
  visibility: hidden;
}
.social {
  list-style: none;
}
.social-button {
  color: var(--white)
}
/* КАТАЛОГ */
.name {
  background-color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
}
.lk {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
/* Main catalog */
.inside-navigation {
  list-style: none;
}
.inside-navigation-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.perforator-main {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-background);
}
/* Сортировка */

.sorting {
  background-color: var(--special-catalog);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorting-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorting-type {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorting-function {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.perforators-list-two {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(3,318px);
  gap: 20px;
  list-style: none;
}
.pages {
  list-style: none;
}
.page-1 {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}
.page-2 {
  border: 1px solid #E5E5E5;
}
.page-3 {
  border: 1px solid #E5E5E5;
}
.next-page {
  border: 1px solid #E5E5E5;
}
/* описание перфоратора как инструмента, над футером*/
.perforators-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

}
.perforators-description-name {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.perforators-catalog {
  background-color: var(--basic-background);
}